body {
    color: purple;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  h1, #designed-by {
    text-align: center;
  }
  
  .style1 {
    background-color: black;
  }
  
  .style2 {
    background-color: orange;
  }
  
  .style3 {
    background-color:  black;
  }
  
  .style4 {
    background-color: blue;
  }
  
  .style5 {
    background-color: black;
  }
  
  .style6 {
    background-color: orange;
  }
  
  /* SETTING THE COLOR OF THE BOX TEXT */
  .tiles .box-wrapper > a {
    color: yellow;
  }